body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container{
  min-width: 20rem;
  width: fit-content;
  background-color: brown;
  padding: 2rem;
  min-height: 20rem;
}

#auth-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40;
  background-color: rgb(4, 103, 121);
  border-bottom: 1px solid 0.1;
  font-weight: bold;
  padding: 0px 20px;
  box-sizing: border-box;
  padding: 0.5rem;
}

ul.navbar-menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

ul.navbar-menu-items > li {
  box-sizing: border-box;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  color: #fff;
}

ul.navbar-menu-items > li:hover {
  cursor: pointer;
}